In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url='https://www.marketwatch.com/tools/screener/premarket'

In [3]:
page=requests.get(url)

In [4]:
soup=BeautifulSoup(page.text,'html.parser')

In [5]:
title=soup.find_all('span',class_='label')

In [6]:
print(title)

[<span class="label">Sign Up</span>, <span class="label">Log In</span>, <span class="label">Premarket Screener</span>, <span class="label">Leaders</span>, <span class="label">Laggards</span>, <span class="label">Most Active</span>, <span class="label">Partner Content</span>, <span class="label">Partner Content</span>, <span class="label">Time to Upgrade!</span>]

In [7]:
title=soup.find_all('h1',class_='title')

In [8]:
print(title)

[<h1 class="title">
<span class="label">Premarket Screener</span>
</h1>]

In [9]:
for x in soup.find_all('h1',class_='title'):
    print(x.text)

Premarket Screener

In [10]:
table=soup.find_all('div',class_='element element--table table--fixed screener-table')

In [11]:
#table

In [12]:
column_header=['Symbol','Price','Volume','Changes','Change%']
dataframe=pd.DataFrame(columns=column_header)
symbol=''
price=''
volume=''
change=''
change_percent=0  # because i want to add it as a integer

In [13]:
#print(table)

here it 

i=0 isiliye agar row change hua tho i=0 hojayega

In [19]:
for tr in soup.select('a'):
    tr.extract()
i=1
for tr in table[0].find_all('tr'):
    i=0
    #loop in each cell
    for td in tr.find_all('td'):
        i=i+1
        
        if(i==1):
            symbol=td.text.replace('\n','')
       
        if(i==3):
            price=td.text.replace('\n','')
        if(i==4):
            volume=td.text.replace('\n','')
        if(i==5):
            change=td.text.replace('\n','')
        if(i==6):
            change_percent = float(td.text.replace('\n','').replace('%',''))
            
    if(symbol!=''):
        dataframe=dataframe.append(
        pd.Series([
        symbol,
        price,
        volume,
        change,
        change_percent
        ],
        index=column_header),
        ignore_index=True)
    
dataframe.sort_values('Change%',axis=0,ascending=False,
                     inplace=True,na_position='last')

print(dataframe)

   Symbol    Price   Volume Changes  Change%
0    SPCE   $53.23   7.500M   10.03    23.22
1    SPCE   $53.23   7.500M   10.03    23.22
12   SPCE   $53.23   7.500M   10.03    23.22
13     SC   $40.51  172.98K    4.08    11.20
2      SC   $40.51  172.98K    4.08    11.20
3    MKSI  $175.44      841    4.67     2.73
14   MKSI  $175.44      841    4.67     2.73
4    SKLZ   $20.89  100.40K    0.50     2.45
15   SKLZ   $20.89  100.40K    0.50     2.45
5    EXAS  $126.50      112    2.45     1.98
16   EXAS  $126.50      112    2.45     1.98
6     ATH   $69.75       56    1.35     1.97
17    ATH   $69.75       56    1.35     1.97
18    VER   $47.00        1    0.89     1.93
7     VER   $47.00        1    0.89     1.93
19   ADPT   $40.59    2,494    0.72     1.81
8    ADPT   $40.59    2,494    0.72     1.81
20   CSGP   $84.70       58    1.45     1.74
9    CSGP   $84.70       58    1.45     1.74
11   ALGM   $27.81      109    0.44     1.61
10   ALGM   $27.81      109    0.44     1.61
21   ALGM   $27.81      109    0.44     1.61

In [20]:
dataframe

   Symbol    Price   Volume Changes  Change%
0    SPCE   $53.23   7.500M   10.03    23.22
1    SPCE   $53.23   7.500M   10.03    23.22
12   SPCE   $53.23   7.500M   10.03    23.22
13     SC   $40.51  172.98K    4.08    11.20
2      SC   $40.51  172.98K    4.08    11.20
3    MKSI  $175.44      841    4.67     2.73
14   MKSI  $175.44      841    4.67     2.73
4    SKLZ   $20.89  100.40K    0.50     2.45
15   SKLZ   $20.89  100.40K    0.50     2.45
5    EXAS  $126.50      112    2.45     1.98
16   EXAS  $126.50      112    2.45     1.98
6     ATH   $69.75       56    1.35     1.97
17    ATH   $69.75       56    1.35     1.97
18    VER   $47.00        1    0.89     1.93
7     VER   $47.00        1    0.89     1.93
19   ADPT   $40.59    2,494    0.72     1.81
8    ADPT   $40.59    2,494    0.72     1.81
20   CSGP   $84.70       58    1.45     1.74
9    CSGP   $84.70       58    1.45     1.74
11   ALGM   $27.81      109    0.44     1.61
10   ALGM   $27.81      109    0.44     1.61
21   ALGM   $27.81      109    0.44     1.61